<aside class="main-sidebar sidebar-dark-primary elevation-4 shadow" data-bs-theme="dark">
    <a href="{{ path('index') }}" class="brand-link">
        <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light">AdminLTE 4</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        {% if app.user %}
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{{ app.user.avatar }}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="{{ path('user.settings.detail',{'user_steam_id':app.user.steamId}) }}"
                       class="d-block">{{ app.user.steamusername }}</a>
                </div>
            </div>
        {% else %}
            {% include '@KnojectorSteamAuthentication/button.html.twig' %}
        {% endif %}

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <a href="{{ path('index') }}" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('top_user') }}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Top Players
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_top_inventory') }}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Top Inventories
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>