<div class="row row-cols-1 row-cols-md-6 g-4">
    <div class="col">
        <div class="card card-warning card-outline {{ shadowClass }} mb-3">
            <div class="card-header">
                <h4 class="card-title">1v1</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <canvas id="1v1Chart"
                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 1084px;"
                            width="1626" height="375" class="chartjs-render-monitor"></canvas>
                    {% set v1complete = (1 - stats.lostv1.complete / (stats.wonv1.complete + stats.lostv1.complete)) * 100 %}
                    W:{{ stats.wonv1.complete }}/L:{{ stats.lostv1.complete }} ({{ v1complete|number_format(2) }}% WinRate)

                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-warning card-outline {{ shadowClass }} mb-3">
            <div class="card-header">
                <h4 class="card-title">2v1</h4>
            </div>
            <div class="card-body">
                <canvas id="2v1Chart"
                        style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 1084px;"
                        width="1626" height="375" class="chartjs-render-monitor"></canvas>
                {% set v2complete = (1 - stats.lostv2.complete / (stats.wonv2.complete + stats.lostv2.complete)) * 100 %}
                W:{{ stats.wonv2.complete }}/L:{{ stats.lostv2.complete }} ({{ v2complete|number_format(2) }}% WinRate)
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-warning card-outline {{ shadowClass }} mb-3">
            <div class="card-header">
                <h4 class="card-title">3v1</h4>
            </div>
            <div class="card-body">
                <canvas id="3v1Chart"
                        style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 1084px;"
                        width="1626" height="375" class="chartjs-render-monitor"></canvas>
                {% set v3complete = (1 - stats.lostv3.complete / (stats.wonv3.complete + stats.lostv3.complete)) * 100 %}
                W:{{ stats.wonv3.complete }}/L:{{ stats.lostv3.complete }} ({{ v3complete|number_format(2) }}% WinRate)
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-warning card-outline {{ shadowClass }} mb-3">

            <div class="card-header">
                <h4 class="card-title">4v1</h4>
            </div>
            <div class="card-body">
                <canvas id="4v1Chart"
                        style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 1084px;"
                        width="1626" height="375" class="chartjs-render-monitor"></canvas>
                {% set v4complete = (1 - stats.lostv4.complete / (stats.wonv4.complete + stats.lostv4.complete)) * 100 %}
                W:{{ stats.wonv4.complete }}/L:{{ stats.lostv4.complete }} ({{ v4complete|number_format(2) }}% WinRate)
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-warning card-outline {{ shadowClass }} mb-3">
            <div class="card-header">
                <h4 class="card-title">5v1</h4>
            </div>
            <div class="card-body">
                <canvas id="5v1Chart"
                        style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 1084px;"
                        width="1626" height="375" class="chartjs-render-monitor"></canvas>
                {% set v5complete = (1 - stats.lostv5.complete / (stats.wonv5.complete + stats.lostv5.complete)) * 100 %}
                W:{{ stats.wonv5.complete }}/L:{{ stats.lostv5.complete }} ({{ v5complete|number_format(2) }}% WinRate)
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-warning card-outline {{ shadowClass }} mb-3">
            <div class="card-header">
                <h4 class="card-title">xv1</h4>
            </div>
            <div class="card-body">
                <canvas id="xv1Chart"
                        style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 1084px;"
                        width="1626" height="375" class="chartjs-render-monitor"></canvas>
                {% set vxcomplete = (1 - stats.lostvx.complete / (stats.wonvx.complete + stats.lostvx.complete)) * 100 %}
                W:{{ stats.wonvx.complete }}/L:{{ stats.lostvx.complete }} ({{ vxcomplete|number_format(2) }}% WinRate)
            </div>
        </div>
    </div>
</div>