<div class="card-columns">
    {% for user in users %}
        <div class="card{{ shadowClass }}">
            <img class="card-img-top" src="{{ user.avatar }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ user.steamusername }}</h5>
                <p class="card-text"><a class="btn btn-primary" href="{{ path('user.detail',{'steamid':user.steamid}) }}">{{ user.steamusername }}</a></p>
                <p class="card-text"><small class="text-muted">{{ user.lastlogoff|date }}</small></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ user.timecreated|date }}</small>
            </div>
        </div>
    {% endfor %}
</div>